﻿body {
    header.fixed_menu.fixed_show {
	opacity:1;
	top:0;
}
                                 header.fixed_menu {
	position:fixed;
	left:0;
	top:-200px;
	opacity:0;
	width:100%;
	min-height:45px;
	padding:5px 0;
	background:#ffffff;
	z-index:999;
	box-shadow:0 0 5px rgba(0,0,0,0.25);
	transition:all 300ms;
	-webkit-transition:all 300ms;	
}
}
