@media only screen and (min-width: 960px) and (max-width: 1199px) {
	header .sub-menu li .sub-menu {
		left:-180px;
		margin-left:0px;
		top:-1px;
	}	
	
	/*widgets*/
	.widget_flickr .flickr_badge_image,
	.dribbble_widget_wrapper .dribbble_item {
		width:110px;
	}
	.widget_flickr .flickr_badge_image img,
	.dribbble_widget_wrapper .dribbble_item img {
		height:110px;
	}

	/*modules*/	
	.list-of-images { 
		margin-left:-20px!important;
		margin-top:-20px!important;
	}
	.list-of-images .gallery_item { 
		margin-left:20px!important;
		max-width:220px!important;
		margin-top:20px!important;
	}
	.list-of-images .gallery_item {
		max-width:220px!important;
	}
	.list-of-images .gallery_item .gallery_descr,
	.image-grid .filter_img .gallery_descr {
		padding-bottom:12px;
	}
	.list-of-images .gallery_item .gallery_title,
	.image-grid .filter_img .gallery_descr h5 {
		margin-bottom:10px!important;
	}
	.image-grid .filter_img .gallery_descr p{
		margin-bottom:0px;
	}
	.list-of-images {
		margin:-20px 0 0 -20px!important;
	}
	.list-of-images .gallery_item {
		margin:20px 0 0 20px!important;
		float:left;
	}
	.list-of-images.images_in_a_row_2 .gallery_item,
	.list-of-images.images_in_a_row_2 .gallery_item img {
		width:460px!important;
		height:auto
	}
	.list-of-images.images_in_a_row_3 .gallery_item,
	.list-of-images.images_in_a_row_3 .gallery_item img {
		width:300px!important;
		height:auto
	}
	.list-of-images.images_in_a_row_4 .gallery_item,
	.list-of-images.images_in_a_row_4 .gallery_item img {
		width:220px!important;
		height:auto
	}

	.right-sidebar .list-of-images.images_in_a_row_2 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_2 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_2 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_2 .gallery_item img {
		width:340px!important;
		height:auto
	}
	.right-sidebar .list-of-images.images_in_a_row_3 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_3 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_3 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_3 .gallery_item img {
		width:220px!important;
		height:auto
	}
	.right-sidebar .list-of-images.images_in_a_row_4 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_4 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_4 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_4 .gallery_item img {
		width:160px!important;
		height:auto
	}	
}

@media only screen and (min-width: 767px) and (max-width: 959px) {
	
	header .sub-menu li .sub-menu {
		left:-180px;
		margin-left:0px;
		top:-1px;
	}	
	header .menu > li {
		display:inline-block;
		position:relative;
		margin:0 12px;
	}
	header .menu > li:before {
		content:'';
		display:block;
		position:absolute;
		left:-17px;
		top:16px;
		width:7px;
		height:7px;
	}

	/*widgets*/
	.widget_flickr .flickr_badge_image,
	.dribbble_widget_wrapper .dribbble_item {
		width:83px;
	}
	.widget_flickr .flickr_badge_image img,
	.dribbble_widget_wrapper .dribbble_item img {
		height:83px;
	}
	.widget_posts li {
		padding-left:0;
		margin-bottom:20px;
	}
	.widget_posts li .recent_posts_img {
		position:static;
		margin-bottom:10px;
	}	
	.widget_posts li .recent_posts_img img {
		width:100%;
		height:auto;
	}

	/*modules*/
	.carouselslider .meta span {
		margin:0 10px;
		display:block;
		float:none;
		text-align:center;
		color:#aaaaaa;
	}
	.carouselslider .meta span:before {
		display:none;
	}
	
	.list-of-images { 
		margin-left:-20px!important;
		margin-top:-20px!important;
	}
	.list-of-images .gallery_item { 
		margin-left:20px!important;
		max-width:340px!important;
		margin-top:20px!important;
	}
	.list-of-images .gallery_item {
		max-width:340px!important;
	}
	.left-sidebar .list-of-images,
	.right-sidebar .list-of-images { 
		margin-left:-14px!important;
		margin-top:-14px!important;
	}
	.left-sidebar .list-of-images .gallery_item,
	.right-sidebar .list-of-images .gallery_item { 
		margin-left:14px!important;
		max-width:262px!important;
		margin-top:14px!important;
	}

	.list-of-images .gallery_item .gallery_descr {
		padding-bottom:12px;
	}
	.list-of-images .gallery_item .gallery_title {
		margin-bottom:10px!important;
	}
	.image-grid .filter_img .gallery_descr p {
		margin-bottom:0px;
	}	
}
@media only screen and (max-width: 760px) {
	header .header_wrapper {
		padding:22px 0;
		text-align:left;
	}
	header ul.menu {
		display:none;
	}
	header .header_wrapper .logo {
		margin:0;
	}
    header .header_wrapper .logo span{
        font-family: 'Yellowtail';
    }
	.menu_toggler {
		width:34px;
		height:34px;
		display:block;
		border:#444444 3px solid;
		opacity:0.8;
		position:absolute;
		top:24px;
		right:0px;
		border-radius:50%;
	}
	.menu_toggler:before {
		content:'';
		position:absolute;
		left:9px;
		top:8px;
		width:16px;
		height:18px;
		background:url(../img/preformer_buttons.png) no-repeat -44px -42px;
	}

	.mobile_menu_wrapper {
		padding:0 0 10px 0;
	}
	.mobile_menu {
		width:auto!important;
		position:relative;
		text-align:left;
		display:block!important;
		padding:10px 0 0 0;
	}
	.mobile_menu .sub-menu {
		opacity:1!important;
		position:static!important;
		margin:0!important;		
		padding:0 0 10px 0!important;
		display:block!important;
		visibility:visible!important;
		width:auto!important;		
	}
	.mobile_menu .sub-menu li .sub-menu {
		padding:0!important;
	}
	.mobile_menu li:before {
		display:none!important;
	}
	.mobile_menu li a {
		border:none!important;
		display:block;
		color:#ffffff!important;
		padding:0 10px;
		font-weight:bold;
		line-height:26px;
	}
	.mobile_menu li a:hover {
		background:none!important;
	}
	.mobile_menu li .sub-menu a {
		line-height:24px;
		padding:0 0 0 20px!important;
	}
	.mobile_menu li .sub-menu li .sub-menu a {
		padding:0 0 0 40px!important;
	}		
	header section,
	header .call_us,
	header .socials,
	footer .socials,
	footer .btn2top,
	.fixed_menu {
		display:none!important;
	}
	.page_title_block {
		padding:25px 0 30px 0;
	}

	.page_title_block a,
	.page_title_block span {
		margin:0 13px;
	}
	.page_title_block a:before,
	.page_title_block span:before {
		left:-15px;
	}
	
	.posts-block > .contentarea {
		padding-top:10px;
	}
	.module_revolution_slider.first-module,
	.module_wall_grid.first-module {
		margin-top:-10px!important;
	}
	footer {
		padding:35px 0 40px 0;
	}


	.pp_content_container iframe {
		width:100%!important;
		height:150px!important;
	}
	.pp_social {
		display:none!important;
	}	
	#footer_bar {
		margin-top:-45px;
	}
	.sidepanel {
		margin:45px 0 0 0;
	}

	/*modules*/
	.module_cont,
	.module_line {
		margin-top:40px!important;
	}
	.module_line {
		padding-bottom:40px!important;
	}
	.bg_title {
		margin-bottom:18px!important;
	}

	.price_table_wrapper .price_item {
		width:100%!important;
		margin-bottom:5px;
	}
	.price_item .price_item_wrapper {
		padding:0;
	}
	.module_diagramm ul.skills_list {
		margin-left:0!important;
	}
	.skills_list li {
		float:none!important;
		display:block!important;
		width:100%!important;
		margin:20px 0 0 0!important;
	}
	.skills_list li:first-child {
		margin:0!important;
	}

	iframe.alignleft,
	iframe.alignright {
		width:100%;
		display:block;
		float:none!important;
		padding:0!important;
		margin-left:0px!important;
		margin-right:0px!important;
	}
	.module_gallery {
		margin-left:0!important;
	}
	.list-of-images {
		margin-left:0px!important;
		margin-top:-15px!important;
	}
	.module_gallery .gallery_item {
		display:block!important;
		margin-left:0px!important;
		float:none!important;
	}
	.module_gallery .gallery_item img {
		width:100%!important;
		height:auto!important;
	}
	
	.list-of-images .gallery_item .gallery_descr,
	.list-of-images .gallery_item .gallery_fadder,
	.list-of-images .gallery_item .post_type_ico {
		display:none!important;	
	}
	.list-of-images .gallery_item img {
		position:static!important;
		display:block!important;
	}
	ol.commentlist  li ul {
		padding-left:0px!important;
	}
	.commentava img {
		display:block;
	}
	#commentform #reset,
	#commentform #submit {
		padding:0 10px;
	}		

	blockquote.right { 
		width:100%!important;
		float:none!important;
		margin-left:0px!important;
	}
	blockquote.left { 
		width:100%!important; 
		margin-right:0px!important;
		float:none!important;
	}		
	
	.btn_carousel_left,
	.btn_carousel_right {
		margin:0 7px!important;
	}
	.og-expander-inner {
		padding:25px 0!important;
		max-height:397px!important;
		overflow:hidden!important;
	}
	.og-close {
		top:25px;
	}
	.module_404 {
		margin-bottom:40px;
	}

	.testimonials_list .item span.author {
		margin-right:23px;
	}
	.testimonials_list .item span.company:before {
		left:-14px;
	}

	/*portfolio*/
	.filter_navigation {
		margin-bottom:20px;
	}	
	.filter_navigation ul.optionset li {
		margin:0 10px;
	}
	.filter_navigation ul.optionset li:before {
		left: -14px;
	}
		
	/*blog and portfolio post*/
	.blog_post {
		margin-bottom:0;
	}
	.blogpost_meta span {
		display:block;
		line-height:20px;
		margin:0 10px 0 0;
	}
	.blogpost_meta span:first-child {
		float:left;
	}
	.blogpost_meta span:after {
		display:none;
	}
	.blogpost_share {
		margin-top:10px;
		float:none;
	}
	.blogpost_share a {
		margin:0 5px 0 0;
	}
	#comments {
		margin-top:30px;
	}
	.comment_info span {
		margin: 0 20px 0 0;
	}	
	.comment_info span:after {
		right:-15px;
	}	
	ol.commentlist li .stand_comment {
		padding:0 0 0 60px;
	}
	.stand_comment .commentava img {
		width:45px;
		height:auto;
	}
	
}
@media only screen and (min-width: 459px) and (max-width: 760px) {
	.container {
		width:420px;
		margin:0 auto;
	}
	.mobile_menu {
		width:420px!important;
		margin:0 auto;
	}

	/*widgets*/
	.widget_flickr .flickr_badge_image,
	.dribbble_widget_wrapper .dribbble_item {
		width:140px;
	}
	.widget_flickr .flickr_badge_image img,
	.dribbble_widget_wrapper .dribbble_item img {
		height:140px;
	}	
	
	/*modules*/
	.featured_image_full iframe,
	.module_video iframe,
	.module_google_map iframe {
		height:240px!important;
	}

	.right-sidebar .list-of-images.images_in_a_row_2 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_2 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_2 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_2 .gallery_item img,
	.right-sidebar .list-of-images.images_in_a_row_3 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_3 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_3 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_3 .gallery_item img,
	.right-sidebar .list-of-images.images_in_a_row_4 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_4 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_4 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_4 .gallery_item img,
	.list-of-images.images_in_a_row_2 .gallery_item,
	.list-of-images.images_in_a_row_2 .gallery_item img,
	.list-of-images.images_in_a_row_3 .gallery_item,
	.list-of-images.images_in_a_row_3 .gallery_item img,
	.list-of-images.images_in_a_row_4 .gallery_item,
	.list-of-images.images_in_a_row_4 .gallery_item img {
		width:420px!important;
		height:auto
	}

	.module_404 .search_form {
		width:420px;
		margin:0 auto;
		padding:40px 0 0 0;
	}
	.module_404 .search_form .field_search {
		width:390px;
		float:none;
		margin-bottom:5px;
	}
	.module_404 .search_form .btn_search404 {
		margin:0;
		display:block;
		float:none;
		padding:0!important;
		width:100%!important;		
	}	
}
@media only screen and (max-width: 459px) {
	.container {
		width:300px;
		margin:0 auto;
	}
	.mobile_menu {
		width:300px!important;
		margin:0 auto;
	}	

	/*widgets*/
	.widget_flickr .flickr_badge_image,
	.dribbble_widget_wrapper .dribbble_item {
		width:100px;
	}
	.widget_flickr .flickr_badge_image img,
	.dribbble_widget_wrapper .dribbble_item img {
		height:100px;
	}	
	
	/*modules*/
	.right-sidebar .list-of-images.images_in_a_row_2 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_2 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_2 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_2 .gallery_item img,
	.right-sidebar .list-of-images.images_in_a_row_3 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_3 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_3 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_3 .gallery_item img,
	.right-sidebar .list-of-images.images_in_a_row_4 .gallery_item,
	.right-sidebar .list-of-images.images_in_a_row_4 .gallery_item img,
	.left-sidebar .list-of-images.images_in_a_row_4 .gallery_item,
	.left-sidebar .list-of-images.images_in_a_row_4 .gallery_item img,
	.list-of-images.images_in_a_row_2 .gallery_item,
	.list-of-images.images_in_a_row_2 .gallery_item img,
	.list-of-images.images_in_a_row_3 .gallery_item,
	.list-of-images.images_in_a_row_3 .gallery_item img,
	.list-of-images.images_in_a_row_4 .gallery_item,
	.list-of-images.images_in_a_row_4 .gallery_item img {
		width:300px!important;
		height:auto
	}	
	.featured_image_full iframe,
	.module_video iframe,
	.module_google_map iframe {
		height:169px!important;
	}
	.module_404 .search_form {
		width:300px;
		margin:0 auto;
		padding:40px 0 0 0;
	}
	.module_404 .search_form .field_search {
		width:270px;
		float:none;
		margin-bottom:5px;
	}
	.module_404 .search_form .btn_search404 {
		margin:0;
		display:block;
		float:none;
		padding:0!important;
		width:100%!important;
	}	
}


/*-- Carousel --*/
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}
	.span12 .carouselslider {
		width:940px;
	}
	.span6 .carouselslider {
		width:458px;
	}
	.span4 .carouselslider {
		width:298px;
	}
	.span3 .carouselslider {
		width:220px;
	}
	.span8 .carouselslider {
		width:618px;
	}
	.span9 .carouselslider {
		width:700px;
	}
	.left-sidebar .posts-block .span12 .carouselslider,
	.right-sidebar .posts-block .span12 .carouselslider {
		width:700px;
	}
	.left-sidebar .posts-block .posts-block .span6 .carouselslider,
	.right-sidebar .posts-block .span6 .carouselslider {
		width:341px;
	}
	.left-sidebar .posts-block .span4 .carouselslider,
	.right-sidebar .posts-block .span4 .carouselslider {
		width:221px;
	}
	.left-sidebar .posts-block .span3 .carouselslider,
	.right-sidebar .posts-block .span3 .carouselslider {
		width:161px;
	}
	.left-sidebar .posts-block .span8 .carouselslider,
	.right-sidebar .posts-block .span8 .carouselslider {
		width:460px;
	}
	.left-sidebar .posts-block .span9 .carouselslider,
	.right-sidebar .posts-block .span9 .carouselslider {
		width:520px;
	}
	
	.span12 .items5 li { 
		width:172px;
	}
	.span12 .items4 li { 
		width:220px;
	}
	.span12 .items3 li { 
		width:300px;
	}
	.span12 .items2 li { 
		width:460px;
	}
	.span12 .items1 li { 
		width:940px;
	}
	
	.span6 .items5 li { 
		width:75px;
	}
	.span6 .items4 li { 
		width:99px;
	}
	.span6 .items3 li { 
		width:139px;
	}
	.span6 .items2 li { 
		width:219px;
	}
	.span6 .items1 li { 
		width:458px;
	}
	
	.span4 .items5 li { 
		width:43px;
	}
	.span4 .items4 li { 
		width:59px;
	}
	.span4 .items3 li { 
		width:86px;
	}
	.span4 .items2 li { 
		width:139px;
	}
	.span4 .items1 li { 
		width:298px;
	}
	
	.span3 .items5 li { 
		width:28px;
	}
	.span3 .items4 li { 
		width:40px;
	}
	.span3 .items3 li { 
		width:60px;
	}
	.span3 .items2 li { 
		width:100px;
	}
	.span3 .items1 li { 
		width:220px;
	}
	
	.span8 .items5 li { 
		width:107px;
	}
	.span8 .items4 li { 
		width:139px;
	}
	.span8 .items3 li { 
		width:192px;
	}
	.span8 .items2 li { 
		width:299px;
	}
	.span8 .items1 li { 
		width:618px;
	}
	
	.span9 .items5 li { 
		width:124px;
	}
	.span9 .items4 li { 
		width:160px;
	}
	.span9 .items3 li { 
		width:220px;
	}
	.span9 .items2 li { 
		width:340px;
	}
	.span9 .items1 li { 
		width:700px;
	}
	
	/* items size with sidebar*/
	.left-sidebar .posts-block .span12 .items5 li,
	.right-sidebar .posts-block .span12 .items5 li { 
		width:124px;
	}
	.left-sidebar .posts-block .span12 .items4 li,
	.right-sidebar .posts-block .span12 .items4 li { 
		width:160px;
	}
	.left-sidebar .posts-block .span12 .items3 li,
	.right-sidebar .posts-block .span12 .items3 li { 
		width:220px;
	}
	.left-sidebar .posts-block .span12 .items2 li,
	.right-sidebar .posts-block .span12 .items2 li { 
		width:340px;
	}
	.left-sidebar .posts-block .span12 .items1 li,
	.right-sidebar .posts-block .span12 .items1 li { 
		width:700px;
	}
	
	.left-sidebar .posts-block .span6 .items5 li,
	.right-sidebar .posts-block .span6 .items5 li { 
		width:52px;
	}
	.left-sidebar .posts-block .span6 .items4 li,
	.right-sidebar .posts-block .span6 .items4 li { 
		width:70px;
	}
	.left-sidebar .posts-block .span6 .items3 li,
	.right-sidebar .posts-block .span6 .items3 li { 
		width:100px;
	}
	.left-sidebar .posts-block .span6 .items2 li,
	.right-sidebar .posts-block .span6 .items2 li { 
		width:160px;
	}
	.left-sidebar .posts-block .span6 .items1 li,
	.right-sidebar .posts-block .span6 .items1 li { 
		width:341px;
	}
	
	.left-sidebar .posts-block .span4 .items5 li,
	.right-sidebar .posts-block .span4 .items5 li { 
		width:28px;
	}
	.left-sidebar .posts-block .span4 .items4 li,
	.right-sidebar .posts-block .span4 .items4 li { 
		width:40px;
	}
	.left-sidebar .posts-block .span4 .items3 li,
	.right-sidebar .posts-block .span4 .items3 li { 
		width:60px;
	}
	.left-sidebar .posts-block .span4 .items2 li,
	.right-sidebar .posts-block .span4 .items2 li { 
		width:100px;
	}
	.left-sidebar .posts-block .span4 .items1 li,
	.right-sidebar .posts-block .span4 .items1 li { 
		width:221px;
	}
	
	.left-sidebar .posts-block .span3 .items5 li,
	.right-sidebar .posts-block .span3 .items5 li { 
		width:16px;
	}
	.left-sidebar .posts-block .span3 .items4 li,
	.right-sidebar .posts-block .span3 .items4 li { 
		width:25px;
	}
	.left-sidebar .posts-block .span3 .items3 li,
	.right-sidebar .posts-block .span3 .items3 li { 
		width:40px;
	}
	.left-sidebar .posts-block .span3 .items2 li,
	.right-sidebar .posts-block .span3 .items2 li { 
		width:70px;
	}
	.left-sidebar .posts-block .span3 .items1 li,
	.right-sidebar .posts-block .span3 .items1 li { 
		width:161px;
	}
	
	.left-sidebar .posts-block .span8 .items5 li,
	.right-sidebar .posts-block .span8 .items5 li { 
		width:76px;
	}
	.left-sidebar .posts-block .span8 .items4 li,
	.right-sidebar .posts-block .span8 .items4 li { 
		width:100px;
	}
	.left-sidebar .posts-block .span8 .items3 li,
	.right-sidebar .posts-block .span8 .items3 li { 
		width:140px;
	}
	.left-sidebar .posts-block .span8 .items2 li,
	.right-sidebar .posts-block .span8 .items2 li { 
		width:220px;
	}
	.left-sidebar .posts-block .span8 .items1 li,
	.right-sidebar .posts-block .span8 .items1 li { 
		width:460px;
	}
	
	.left-sidebar .posts-block .span9 .items5 li,
	.right-sidebar .posts-block .span9 .items5 li { 
		width:88px;
	}
	.left-sidebar .posts-block .span9 .items4 li,
	.right-sidebar .posts-block .span9 .items4 li { 
		width:115px;
	}
	.left-sidebar .posts-block .span9 .items3 li,
	.right-sidebar .posts-block .span9 .items3 li { 
		width:160px;
	}
	.left-sidebar .posts-block .span9 .items2 li,
	.right-sidebar .posts-block .span9 .items2 li { 
		width:250px;
	}
	.left-sidebar .posts-block .span9 .items1 li,
	.right-sidebar .posts-block .span9 .items1 li { 
		width:520px;
	}

	.margin-fixer {
		margin-left:-20px!important;
		height:auto!important;
	}	
}
@media only screen and (min-width: 767px) and (max-width: 959px) {
	.margin-fixer {
		margin-left:-20px!important;
		height:auto!important;
	}	
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}
	
	.span12 .carouselslider {
		width:724px!important;
	}
	.span6 .carouselslider {
		width:352px!important;
	}
	.span4 .carouselslider {
		width:228px!important;
	}
	.span3 .carouselslider {
		width:166px!important;
	}
	.span8 .carouselslider {
		width:476px!important;
	}
	.span9 .carouselslider {
		width:538px!important;
	}
	.left-sidebar .posts-block .span12 .carouselslider,
	.right-sidebar .posts-block .span12 .carouselslider {
		width:538px!important;
	}
	.left-sidebar .posts-block .span6 .carouselslider,
	.right-sidebar .posts-block .span6 .carouselslider {
		width:424px!important;
	}
	.left-sidebar .posts-block .span4 .carouselslider,
	.right-sidebar .posts-block .span4 .carouselslider {
		width:169px!important;
	}
	.left-sidebar .posts-block .span3 .carouselslider,
	.right-sidebar .posts-block .span3 .carouselslider {
		width:123px!important;
	}
	.left-sidebar .posts-block .span8 .carouselslider,
	.right-sidebar .posts-block .span8 .carouselslider {
		width:354px!important;
	}
	.left-sidebar .posts-block .span9 .carouselslider,
	.right-sidebar .posts-block .span9 .carouselslider {
		width:400px!important;
	}
	
	.span12 .items6 li { 
		width:104px!important;
	}
	.span12 .items5 li { 
		width:128px!important;
	}
	.span12 .items4 li { 
		width:166px!important;
	}
	.span12 .items3 li { 
		width:228px!important;
	}
	.span12 .items2 li { 
		width:352px!important;
	}
	.span12 .items1 li { 
		width:724px!important;
	}
	
	.span6 .items6 li { 
		width:42px!important;
	}
	.span6 .items5 li { 
		width:54px!important;
	}
	.span6 .items4 li { 
		width:73px!important;
	}
	.span6 .items3 li { 
		width:104px!important;
	}
	.span6 .items2 li { 
		width:166px!important;
	}
	.span6 .items1 li { 
		width:352px!important;
	}

	.span4 .items6 li { 
		width:21px!important;
	}	
	.span4 .items5 li { 
		width:29px!important;
	}
	.span4 .items4 li { 
		width:42px!important;
	}
	.span4 .items3 li { 
		width:62px!important;
	}
	.span4 .items2 li { 
		width:104px!important;
	}
	.span4 .items1 li { 
		width:228px!important;
	}

	.span3 .items6 li { 
		width:11px!important;
	}	
	.span3 .items5 li { 
		width:17px!important;
	}
	.span3 .items4 li { 
		width:26px!important;
	}
	.span3 .items3 li { 
		width:42px!important;
	}
	.span3 .items2 li { 
		width:73px!important;
	}
	.span3 .items1 li { 
		width:166px!important;
	}

	.span8 .items6 li { 
		width:62px!important;
	}	
	.span8 .items5 li { 
		width:79px!important;
	}
	.span8 .items4 li { 
		width:104px!important;
	}
	.span8 .items3 li { 
		width:145px!important;
	}
	.span8 .items2 li { 
		width:228px!important;
	}
	.span8 .items1 li { 
		width:476px!important;
	}
	
	.span9 .items6 li { 
		width:73px!important;
	}	
	.span9 .items5 li { 
		width:91px!important;
	}
	.span9 .items4 li { 
		width:119px!important;
	}
	.span9 .items3 li { 
		width:166px!important;
	}
	.span9 .items2 li { 
		width:259px!important;
	}
	.span9 .items1 li { 
		width:538px!important;
	}
	
	/* items size with sidebar*/
	.left-sidebar .posts-block .span12 .items6 li,
	.right-sidebar .posts-block .span12 .items6 li { 
		width:78px!important;
	}
	.left-sidebar .posts-block .span12 .items5 li,
	.right-sidebar .posts-block .span12 .items5 li { 
		width:96px!important;
	}
	.left-sidebar .posts-block .span12 .items4 li,
	.right-sidebar .posts-block .span12 .items4 li { 
		width:124px!important;
	}
	.left-sidebar .posts-block .span12 .items3 li,
	.right-sidebar .posts-block .span12 .items3 li { 
		width:170px!important;
	}
	.left-sidebar .posts-block .span12 .items2 li,
	.right-sidebar .posts-block .span12 .items2 li { 
		width:262px!important;
	}
	.left-sidebar .posts-block .span12 .items1 li,
	.right-sidebar .posts-block .span12 .items1 li { 
		width:538px!important;
	}
	
	.left-sidebar .posts-block .span6 .items6 li,
	.right-sidebar .posts-block .span6 .items6 li { 
		width:59px!important;
	}
	.left-sidebar .posts-block .span6 .items5 li,
	.right-sidebar .posts-block .span6 .items5 li { 
		width:73px!important;
	}
	.left-sidebar .posts-block .span6 .items4 li,
	.right-sidebar .posts-block .span6 .items4 li { 
		width:95px!important;
	}
	.left-sidebar .posts-block .span6 .items3 li,
	.right-sidebar .posts-block .span6 .items3 li { 
		width:132px!important;
	}
	.left-sidebar .posts-block .span6 .items2 li,
	.right-sidebar .posts-block .span6 .items2 li { 
		width:205px!important;
	}
	.left-sidebar .posts-block .span6 .items1 li,
	.right-sidebar .posts-block .span6 .items1 li { 
		width:424px!important;
	}
	
	.left-sidebar .posts-block .span4 .items6 li,
	.right-sidebar .posts-block .span4 .items6 li { 
		width:16px!important;
	}
	.left-sidebar .posts-block .span4 .items5 li,
	.right-sidebar .posts-block .span4 .items5 li { 
		width:22px!important;
	}
	.left-sidebar .posts-block .span4 .items4 li,
	.right-sidebar .posts-block .span4 .items4 li { 
		width:31px!important;
	}
	.left-sidebar .posts-block .span4 .items3 li,
	.right-sidebar .posts-block .span4 .items3 li { 
		width:47px!important;
	}
	.left-sidebar .posts-block .span4 .items2 li,
	.right-sidebar .posts-block .span4 .items2 li { 
		width:77px!important;
	}
	.left-sidebar .posts-block .span4 .items1 li,
	.right-sidebar .posts-block .span4 .items1 li { 
		width:169px!important;
	}
	
	.left-sidebar .posts-block .span3 .items6 li,
	.right-sidebar .posts-block .span3 .items6 li { 
		width:8px!important;
	}
	.left-sidebar .posts-block .span3 .items5 li,
	.right-sidebar .posts-block .span3 .items5 li { 
		width:13px!important;
	}
	.left-sidebar .posts-block .span3 .items4 li,
	.right-sidebar .posts-block .span3 .items4 li { 
		width:20px!important;
	}
	.left-sidebar .posts-block .span3 .items3 li,
	.right-sidebar .posts-block .span3 .items3 li { 
		width:31px!important;
	}
	.left-sidebar .posts-block .span3 .items2 li,
	.right-sidebar .posts-block .span3 .items2 li { 
		width:54px!important;
	}
	.left-sidebar .posts-block .span3 .items1 li,
	.right-sidebar .posts-block .span3 .items1 li { 
		width:123px!important;
	}	
	
	.left-sidebar .posts-block .span8 .items6 li,
	.right-sidebar .posts-block .span8 .items6 li { 
		width:47px!important;
	}
	.left-sidebar .posts-block .span8 .items5 li,
	.right-sidebar .posts-block .span8 .items5 li { 
		width:59px!important;
	}
	.left-sidebar .posts-block .span8 .items4 li,
	.right-sidebar .posts-block .span8 .items4 li { 
		width:78px!important;
	}
	.left-sidebar .posts-block .span8 .items3 li,
	.right-sidebar .posts-block .span8 .items3 li { 
		width:108px!important;
	}
	.left-sidebar .posts-block .span8 .items2 li,
	.right-sidebar .posts-block .span8 .items2 li { 
		width:170px!important;
	}
	.left-sidebar .posts-block .span8 .items1 li,
	.right-sidebar .posts-block .span8 .items1 li { 
		width:354px!important;
	}
	
	.left-sidebar .posts-block .span9 .items6 li,
	.right-sidebar .posts-block .span9 .items6 li { 
		width:55px!important;
	}
	.left-sidebar .posts-block .span9 .items5 li,
	.right-sidebar .posts-block .span9 .items5 li { 
		width:68px!important;
	}
	.left-sidebar .posts-block .span9 .items4 li,
	.right-sidebar .posts-block .span9 .items4 li { 
		width:89px!important;
	}
	.left-sidebar .posts-block .span9 .items3 li,
	.right-sidebar .posts-block .span9 .items3 li { 
		width:124px!important;
	}
	.left-sidebar .posts-block .span9 .items2 li,
	.right-sidebar .posts-block .span9 .items2 li { 
		width:193px!important;
	}
	.left-sidebar .posts-block .span9 .items1 li,
	.right-sidebar .posts-block .span9 .items1 li { 
		width:400px!important;
	}	
}

@media only screen and (min-width: 459px) and (max-width: 766px) {
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}
	.margin-fixer {
		margin-left:-20px!important;
		height:auto!important;
	}	
	
	.carouselslider,
	.carouselslider li { 
		width:420px!important;
	}		
}
@media only screen and (max-width: 459px) {
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}
	.margin-fixer {
		margin-left:-20px!important;
		height:auto!important;
	}	
	
	.carouselslider,
	.carouselslider li { 
		width:300px!important;
	}	
}


/*portfolio_isotope.css*/
@media only screen and (min-width: 960px) and (max-width: 1200px) {
	.columns1 {
		width:940px!important;
		margin:0;
	}
	.columns1 .element {
		min-height:322px!important;
	}
	/*Widths*/
	.columns2 .portfolio_dscr,
	.columns3 .portfolio_dscr,
	.columns4 .portfolio_dscr {
		padding-left:16px!important;
	}
	.columns2,
	.columns3,
	.columns4 {
		margin:0 0 0 4px;
		width:960px;
		margin-left:-20px!important;
	}
	.columns2 .element {
		width:460px!important; 
		min-height:303px!important;
		float:left;
		margin-left:20px;
		margin-bottom:20px;		
		display:inline-block;
	}
	.columns2 .element img {
		display:block;
	}
	.columns3 .element {
		width:300px!important; 
		margin-left:20px;
		margin-bottom:20px;
		min-height:199px!important;
	}
	.columns4 .element {
		width:220px!important; 
		margin-left:20px;
		margin-bottom:20px;
		min-height:147px!important;
	}	
	
	.columns1 .portfolio_preview_head {
		padding-left:16px!important;
	}

	.left-sidebar .columns1,
	.right-sidebar .columns1 {
		width:700px!important;
	}
	.left-sidebar .columns2,
	.right-sidebar .columns2, 
	.left-sidebar .columns3,
	.right-sidebar .columns3,
	.left-sidebar .columns4,
	.right-sidebar .columns4 {
		width:720px!important;
	}
	
	.left-sidebar .columns2 .element,
	.right-sidebar .columns2 .element {
		width:340px!important;
	} 
	.left-sidebar .columns3 .element,
	.right-sidebar .columns3 .element {
		width:220px!important;
	}
	.left-sidebar .columns4 .element,
	.right-sidebar .columns4 .element {
		width:160px!important;
	}	
}


@media only screen and (min-width: 767px) and (max-width: 959px) {
	.columns1 {
		width:724px!important;
	}
	.columns1 .portfolio_dscr {
		padding:0!important;	
	}
	.columns1 .portfolio_preview_head {
		padding-left:16px!important;
	}
	.columns2,
	.columns3,
	.columns4 {
		margin:0 0 0 4px;
		width:744px;
		margin-left:-20px!important;
	}
	.columns2 .element {
		width:352px!important; 
		min-height:233px!important;
		float:left;
		margin-left:20px;
		margin-bottom:20px;		
		display:inline-block;
	}
	.columns2 .element img {
		display:block;
	}	
	.columns3 .element {
		width:228px!important; 
		min-height:153px!important;
		float:left;
		margin-left:20px;
		margin-bottom:20px;		
		display:inline-block;
	}
	.columns4 .element {
		width:166px!important; 
		min-height:112px!important;
		float:left;
		margin-left:20px;
		margin-bottom:20px;		
		display:inline-block;
	}

	.left-sidebar .columns1,
	.right-sidebar .columns1 {
		width:538px!important;
	}
	.left-sidebar .columns2,
	.right-sidebar .columns2, 
	.left-sidebar .columns3,
	.right-sidebar .columns3,
	.left-sidebar .columns4,
	.right-sidebar .columns4 {
		width:558px!important;
	}
	
	.left-sidebar .columns2 .element,
	.right-sidebar .columns2 .element {
		width:259px!important;
	} 
	.left-sidebar .columns3 .element,
	.right-sidebar .columns3 .element {
		width:166px!important;
	}
	.left-sidebar .columns4 .element,
	.right-sidebar .columns4 .element {
		width:119px!important;
	}	
}

@media only screen and (min-width: 459px) and (max-width: 766px) {
	/*Widths*/
	.columns1,
	.columns2,
	.columns3,
	.columns4 {
		margin:0 0 0 0px!important;
		width:420px!important;
	}
	.columns2 .element,
	.columns3 .element,
	.columns4 .element {
		width:420px!important; 
		margin:0 0 20px 0px!important;
		min-height:277px!important;
		/*float:none!important;*/
		display:inline-block!important;
	}
	.columns1 .element img,
	.columns2 .element img,
	.columns3 .element img,
	.columns4 .element img {
		display:block!important;
	}
	.filter_navigation { 
		overflow:hidden!important;
	}
	.columns1 .filter_img {
		float:none!important;
		width:420px!important;
		margin-bottom:15px!important;
	}
	.columns1 .portfolio_dscr {
		float:none!important;
		width:420px!important;
		margin:0px!important;
	}
	.columns2 .element .portfolio_content p,
	.columns3 .element .portfolio_content p,
	.columns4 .element .portfolio_content p,
	.columns2 .element .portfolio_content h5,
	.columns3 .element .portfolio_content h5,
	.columns4 .element .portfolio_content h5 {	
		display:none!important;
	}
	.columns1 .portfolio_dscr {
		padding:0!important;	
	}

	.left-sidebar .columns1,
	.right-sidebar .columns1,
	.left-sidebar .columns2,
	.right-sidebar .columns2, 
	.left-sidebar .columns3,
	.right-sidebar .columns3,
	.left-sidebar .columns4,
	.right-sidebar .columns4 {
		width:420px!important;	
	}
	.left-sidebar .columns2 .element,
	.right-sidebar .columns2 .element,
	.left-sidebar .columns3 .element,
	.right-sidebar .columns3 .element,
	.left-sidebar .columns4 .element,
	.right-sidebar .columns4 .element {
		width:420px!important;
	}		
}
@media only screen and (max-width: 459px) {
	/*Widths*/
	.columns1,
	.columns2,
	.columns3,
	.columns4 {
		margin:0 0 0 0px!important;
		width:300px!important;
	}
	.columns1 .element { 
		margin:0 0 20px 0!important;
	}
	.columns1 .element,
	.columns2 .element,
	.columns3 .element,
	.columns4 .element {
		width:300px!important;
		margin:0 0 20px 0px!important;
		min-height:199px!important;
		float:none!important;
		display:block!important;
	}
	.columns1 .element img,
	.columns2 .element img,
	.columns3 .element img,
	.columns4 .element img {
		display:block;
	}
	.columns2 .element .portfolio_content p,
	.columns3 .element .portfolio_content p,
	.columns4 .element .portfolio_content p,
	.columns2 .element .portfolio_content h5,
	.columns3 .element .portfolio_content h5,
	.columns4 .element .portfolio_content h5 {	
		display:none!important;
	}
	.filter_navigation { 
		overflow:hidden
	}	
	.columns1 .filter_img {
		float:none!important;
		width:300px!important;
		margin-bottom:15px!important;
	}
	.columns1 .portfolio_dscr {
		float:none!important;
		width:300px!important;
		margin:0px!important;
	}
	.columns1 .portfolio_dscr {
		padding:0!important;	
	}

	.left-sidebar .columns1,
	.right-sidebar .columns1,
	.left-sidebar .columns2,
	.right-sidebar .columns2, 
	.left-sidebar .columns3,
	.right-sidebar .columns3,
	.left-sidebar .columns4,
	.right-sidebar .columns4 {
		width:300px!important;	
	}
	.left-sidebar .columns2 .element,
	.right-sidebar .columns2 .element,
	.left-sidebar .columns3 .element,
	.right-sidebar .columns3 .element,
	.left-sidebar .columns4 .element,
	.right-sidebar .columns4 .element {
		width:300px!important;
	}	
}


/*retina*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	header .logo img.logo_def {
		display:none!important;
	}
	header .logo img.logo_retina {
		display:block!important;
	}

	.menu_toggler:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -44px -42px;
	}

	.og-grid a span.plus_icon:before {
		background-size:275px 76px!important;
		background:url(../img/preformer_buttons.png) no-repeat -226px 0;
	}
	.nivo-prevNav {
		background-size:275px 76px!important;
		background:url(../img/preformer_buttons.png) no-repeat -28px -0px!important;
	}
	.nivo-nextNav {
		background-size:275px 76px!important;
		background:url(../img/preformer_buttons.png) no-repeat -51px -0px!important;
	}

	header .menu > li:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -44px -42px;
	}
	.page_title_block a:before,
	.page_title_block span:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -12px -63px;	
	}
	.btn2top:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -21px -63px;
	}	
	.shortcode_accordion_item_title .ico, 
	.shortcode_toggles_item_title .ico { 
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -0px -53px ;
	}
	.shortcode_iconbox .ico:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -73px 0;
	}
	.carousel-previous,
	.center_title .btn_carousel_left {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -245px -51px!important;
	}
	.carousel-next,
	.center_title .btn_carousel_right { 
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -226px -51px!important;
	}
	.carouselslider .meta span:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -1px -63px;
	}
	.module_teamslider .smallproflinks .link_wrapper:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -1px -63px;
	}
	.testimonials_list .item span.company:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -1px -63px;	
	}
	.tp-leftarrow {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -28px -0px!important;
	}
	.tp-rightarrow {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -51px -0px!important;
	}
	.shortcode_messagebox .box_close {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -12px -1px;
	}
	.shortcode_messagebox.box_type2 .box_close {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -20px -1px;
	}
	.filter_navigation ul.optionset li:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -1px -63px;
	}
	.blogpost_meta span:after {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -1px -63px;	
	}
	.comment_info span:after {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -1px -63px;	
	}
	.blogpost_control a.post_prev:after {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -12px -63px;	
	}
	.blogpost_control a.post_prev:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -6px -1px;	
	}
	.blogpost_control a.post_next:after {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat 0 -1px;	
	}
	blockquote:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -0px -32px #444444;
	}
	.contentarea ul.list_type1 li:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat 0 -10px;
	}
	.contentarea ul.list_type2 li:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -9px -10px;
	}
	.contentarea ul.list_type3 li:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -18px -10px;
	}
	.contentarea ul.list_type4 li:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -0px -21px;
	}
	.contentarea ul.list_type5 li:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -9px -21px;
	}
	.contentarea ul.list_type6 li:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat -18px -21px;
	}
	.widget_nav_menu ul li a:before,
	.widget_archive ul li a:before,
	.widget_pages ul li a:before,
	.widget_categories ul li a:before,
	.widget_recent_entries ul li a:before {
		background-size:275px 76px!important;
		background:url(../img/retina/preformer_buttons.png) no-repeat 0 0;		
	}
	
	.carouselslider .item .carousel_posttype.posttype-text {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat 0 -200px;
	}
	.carouselslider .item .carousel_posttype.posttype-audio {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -60px -200px;
	}
	.carouselslider .item .carousel_posttype.posttype-aside {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -120px -200px;
	}
	.carouselslider .item .carousel_posttype.posttype-chat {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -180px -200px;
	}
	.carouselslider .item .carousel_posttype.posttype-video {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -240px -200px;
	}
	.carouselslider .item .carousel_posttype.posttype-gallery {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -300px -200px;
	}
	.carouselslider .item .carousel_posttype.posttype-image {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -360px -200px;
	}
	.carouselslider .item .carousel_posttype.posttype-quote {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -420px -200px;
	}
	.carouselslider .item .carousel_posttype.posttype-link {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -480px -200px;
	}
	.module_teamslider .smallproflinks a.facebook_link {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -360px -160px;
	}
	.module_teamslider .smallproflinks a.twitter_link {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -380px -160px;
	}
	.module_teamslider .smallproflinks a.tumbler_link {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -400px -160px;
	}
	.post_type_aside {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat 0px -160px;
	}
	.post_type_music {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -40px -160px;
	}
	.post_type_chat {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -80px -160px;
	}
	.post_type_gallery {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -120px -160px;
	}
	.post_type_image {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -160px -160px;
	}
	.post_type_link {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -200px -160px;
	}
	.post_type_quote {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -240px -160px;
	}
	.post_type_text {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -280px -160px;
	}
	.post_type_video {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -320px -160px;
	}
	.socials_list li a.ico_social-delicious {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -400px -0px;
	}
	.socials_list li a.ico_social-dribbble {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -520px -0px;
	}
	.socials_list li a.ico_social-facebook {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -0px -0px;
	}
	.socials_list li a.ico_social-flickr {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -360px -40px;
	}
	.socials_list li a.ico_social-gplus {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -320px -0px;
	}
	.socials_list li a.ico_social-instagram {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -120px -80px;
	}
	.socials_list li a.ico_social-linked {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -280px -40px;
	}
	.socials_list li a.ico_social-pinterest {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -320px -40px;
	}
	.socials_list li a.ico_social-tumblr {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -360px -0px;
	}
	.socials_list li a.ico_social-twitter {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -120px -0px;
	}
	.socials_list li a.ico_social-vimeo {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -120px -40px;
	}
	.socials_list li a.ico_social-youtube {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) no-repeat -160px -40px;
	}
	.ico_socialize_facebook1 {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) 0 0;
	}
	.ico_socialize_facebook2 {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -40px 0;
	}
	.ico_socialize_twitter1 {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -80px 0;
	}
	.ico_socialize_twitter2 {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -120px 0;
	}
	.ico_socialize_twitter3 {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -160px 0;
	}
	.ico_socialize_digg1 {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -200px 0;
	}
	.ico_socialize_digg2 {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -240px 0;
	}
	.ico_socialize_google1 {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -280px 0;
	}
	.ico_socialize_google2 {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -320px 0;
	}
	.ico_socialize_tumbler {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -360px 0;
	}
	.ico_socialize_delicious {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -400px 0;
	}
	.ico_socialize_plixi {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -440px 0;
	}
	.ico_socialize_dribbble1 {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -480px 0;
	}
	.ico_socialize_dribbble2 {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -520px 0;
	}
	.ico_socialize_stubleUpon {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) 0 -40px;
	}
	.ico_socialize_lastfm {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -40px -40px;
	}
	.ico_socialize_moby {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -80px -40px;
	}
	.ico_socialize_vimeo {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -120px -40px;
	}
	.ico_socialize_youtube1 {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -160px -40px;
	}
	.ico_socialize_youtube2 {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -200px -40px;
	}
	.ico_socialize_myspace {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -240px -40px;
	}
	.ico_socialize_linkedIn {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -280px -40px;
	}
	.ico_socialize_pinterest {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -320px -40px;
	}
	.ico_socialize_flickr {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -360px -40px;
	}
	.ico_socialize_vk1 {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -400px -40px;
	}
	.ico_socialize_vk2 {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -440px -40px;
	}
	.ico_socialize_odnoklassniki {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -480px -40px;
	}
	.ico_socialize_gowalla {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -520px -40px;
	}
	.ico_socialize_dropbox {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) 0 -80px;
	}
	.ico_socialize_skype {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -40px -80px;
	}
	.ico_socialize_iChat {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -80px -80px;
	}
	.ico_socialize_instagram {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -120px -80px;
	}
	.ico_socialize_evernote {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -160px -80px;
	}
	.ico_socialize_deviantart {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -200px -80px;
	}
	.ico_socialize_blogspot {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -240px -80px;
	}
	.ico_socialize_reddit {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -280px -80px;
	}
	.ico_socialize_technorati {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -320px -80px;
	}
	.ico_socialize_yahoo {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -360px -80px;
	}
	.ico_socialize_diigo {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -400px -80px;
	}
	.ico_socialize_blinklist {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -440px -80px;
	}
	.ico_socialize_bing {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -480px -80px;
	}
	.ico_socialize_behnce {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -520px -80px;
	}
	.ico_socialize_picasa {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) 0 -120px;
	}
	.ico_socialize_forrst {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -40px -120px;
	}
	.ico_socialize_ffffound {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -80px -120px;
	}
	.ico_socialize_viddler {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -120px -120px;
	}
	.ico_socialize_friendfeed {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -160px -120px;
	}
	.ico_socialize_mobileMe {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -200px -120px;
	}
	.ico_socialize_wordpress {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -240px -120px;
	}
	.ico_socialize_drupal {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -280px -120px;
	}
	.ico_socialize_paypal {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -320px -120px;
	}
	.ico_socialize_share {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -360px -120px;
	}
	.ico_socialize_mail {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -400px -120px;
	}
	.ico_socialize_rss {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -440px -120px;
	}
	.ico_socialize_home {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -480px -120px;
	}
	.ico_socialize_phone {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -520px -120px;
	}
	.ico_contact.ico_contact-address {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -529px -129px;
	}
	.ico_contact.ico_contact-phone {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -489px -129px;
	}
	.ico_contact.ico_contact-mail {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -449px -129px;
	}
	.ico_contact.ico_contact-skype {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -49px -89px;
	}
	.ico_contact.ico_contact-twitter {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -129px -9px;
	}
	.ico_contact.ico_contact-facebook {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -9px -9px;
	}
	.ico_contact.ico_contact-flickr {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -369px -49px;		
	}
	.ico_contact.ico_contact-dribbble {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -529px -9px;
	}
	.ico_contact.ico_contact-youtube {
		background-size:560px 260px!important;
		background:url(../img/retina/preformer_icons.png) -169px -49px; 		
	}	
}