﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="CMS.master.cs" Inherits="CMS_CMS" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <!--Stylesheet-->
    <link type="text/css" href="css/styles.css" rel="Stylesheet" />

    <link rel="shortcut icon" href="images/favicon.ico" />

    <!-- Javascript -->
    <script language="javascript" type="text/javascript" src="scripts/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="scripts/menu.js"></script>
    <script language="javascript" type="text/javascript" src="scripts/jsGeneric.js"></script>

    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="smgMaster" runat="server" ScriptMode="Release" />
        <center>

            <div class="pageConatiner">

                <!--Left nav-->
                <div class="leftNav">

                    <div>
                        <img src="../img/imgLogoPink.png" width="190px" style="padding: 5px" alt="Conscious Birth :: Conscious Birth" title="Conscious Birth :: Conscious Birth" /></div>
                    <div class="cmsTitle">CONTENT MANAGEMENT SYSTEM</div>

                    <div class="userCredentials">
                        <div class="userCredentialsTop">
                            <img src="images/imgLoginIcon.png" alt="" title="" />
                            <asp:Label ID="lblMessage" runat="server"></asp:Label>
                        </div>
                        <br style="clear: both;" />
                        <img src="images/imgLeftPanelDivider.png" alt="" title="" class="leftPanelDivider" />
                        <div class="userCredentialsBottom">
                            <a href="../Conscious-Birth-Home.aspx" target="_blank" class="linkWhite">Visit Website</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../CMSLogin.aspx?action=logout" class="linkWhite">Logout</a>
                        </div>
                    </div>
                    <div>
                        <ul class="mainMenu">
                            <li class="mainMenuItem" id="liUsers" onclick="toggleMenuItem('bUsers', 'divUsers')">
                                <b id="bUsers" class="arrowLeft"></b><a style="margin-left: 20px">Users</a>
                            </li>
                            <li id="divUsers" class="subMenuContainer">
                               <%--  <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmAccountUserView.aspx';"><a>Account Users</a></li>
                                </ul>--%>
                                 <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmUsersView.aspx';"><a>CMS Users</a></li>
                                </ul>
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmSubscribersView.aspx';"><a>Subsribers</a></li>
                                </ul>
                                </li>
                            <li class="mainMenuItem" id="liSettings" onclick="toggleMenuItem('bSetting', 'divSetting')">
                                <b id="bSetting" class="arrowLeft"></b><a style="margin-left: 20px">Admin Settings</a>
                            </li>

                            <li id="divSetting" class="subMenuContainer">
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmBlogTypesView.aspx';"><a>Blog Types</a></li>
                                </ul>
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmSizesView.aspx';"><a>Sizes</a></li>
                                </ul>
                                 <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmCategoriesView.aspx';"><a>Categories</a></li>
                                </ul>
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmColoursView.aspx';"><a>Colours</a></li>
                                </ul>
                            </li>
                            <li class="mainMenuItem" onclick="return window.location.href = 'frmBlogPostsView.aspx';">
                                <b>&nbsp;</b><a style="margin-left: 40px">Blog Posts</a>
                            </li>
                            <li class="mainMenuItem" onclick="return window.location.href = 'frmProductsView.aspx';">
                                <b>&nbsp;</b><a style="margin-left: 40px">Products</a>
                            </li>
                          <%--  <li class="mainMenuItem" onclick="return window.location.href = 'frmWishListProductsView.aspx';">
                                <b>&nbsp;</b><a style="margin-left: 40px">Wish List Products</a>
                            </li>--%>
                            <li class="mainMenuItem" onclick="return window.location.href = 'frmCustomerTestimonialsView.aspx';">
                                <b>&nbsp;</b><a style="margin-left: 40px">Testimonials</a>
                            </li>
                        </ul>
                    </div>
                    <div style="margin-top: 320px;">
                        <img src="images/Login/imgLoginDivider.png" alt="" title="" />
                        <a href="http://www.softservedigital.co.za" target="_blank">
                            <img src="images/login/imgPoweredBy.png" alt="Softserve Digital Development" title="Softserve Digital Development" class="loginFooterImg" />
                        </a>
                        <img src="images/login/imgLoginDivider.png" alt="" title="" />
                    </div>
                </div>

                <!--Main body-->
                <div class="bodyContent">

                    <!--Header-->
                    <div class="contentHeader">
                        <div class="currentPage">
                            <div class="currentPageTab">
                                <asp:Label ID="lblCurrentPage" runat="server"></asp:Label>
                            </div>
                        </div>
                        <div class="timeDisplay">
                            <img src="images/imgClock.png" class="imgClock" width='24' height='24' />
                            <div class='dateText'>
                                <asp:Label ID="lblDateTime" runat="server"></asp:Label>
                            </div>
                        </div>
                    </div>

                    <!--Content-->
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>

                </div>

            </div>
        </center>

    </form>
</body>
</html>
